<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Using tech to do civic good.</h2>
            <p>Ottawa Civic Tech (YOWCT) strengths the community of people in Ottawa who want to build civic good. We are people who think bringing together policy, technology & inspiration can solve tough problems and make our communities better.</p>
            <p>As a Civic Tech group we provide a space for civic engagement between citizens, elected officials, and public servants. Our space allows motivated individuals with different skill sets like design, policy, activism, or software development to connect, innovate, create and complete projects for civic good. By breaking down institutional silos we create possibilities and connections for prompting civic good that would otherwise be impossible.</p>
          </div>
    </div>
</section>
