<p>First launched in 2016, Ottawa Civic Tech went on hiatus in 2020. It is being revived in Fall of 2024 with an initial series of monthly meetups with guest speakers as well as opportunities to come together and work on projects for civic good. </p>

<p>We host events on Wednesdays on a monthly recurrence. These events typically include: time for networking; a guest speaker or speakers; and, time to discuss and work on projects.</p>

<p>Our guest speakers are drawn from academia, government, not-for-profits, and the private sector, to promote cross sector participation. We rotate the venue for our event to a different sponsor or partner.</p>

<p>During the summer our events become more social than work focused and are held at restaurants.</p>

<p>All our events are promoted using <a href="https://www.meetup.com/YOW_CT/">meetup.com</a>.</p>

<p><strong>Do you want to be a speaker at an upccoming Ottawa Civic Tech meeting?  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeb-TWO200njEW-ht4vu4kRl-04bpzIcGeof6YMN1Jg1qJDIw/viewform">Let us know on our speaker form</a>. </strong></p>
