<!-- Events Section -->

<section id="events">
  <div class="content-section-a">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Events</h2>
                  <div class="lead">{% include event_intro.html %}</div>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="img/services/dog.png" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
</section>
