
<p>We host events every Tuesday. For most of the year the focus of these events is a hack session, where members of the Ottawa civic tech community to come together and work on projects for civic good.</p>

<p>At least once event a month also includes a presentation from a guest speaker. Our guest speakers are drawn from academia, government, non for profits and the private sector, to promote cross sector participation. Every month we rotate the venue for our event to a different sponsor or partner.</p>

<p>During the summer our events become more social than work focused and are held at restaurants.</p>

<p>All our events are promoted using <a href='https://www.meetup.com/YOW_CT/'>meetup.com.</a></p>