<!-- Partners Section -->

<section id="partners" >
  <div class="container content-section-b">
    <div class="row">
        <div class="col-lg-3">
          <h2>Sponsors:</h2>
        </div>      
        <div class="col-lg-9">
          <div class="flex-container">
            <div class="flex-item">
              <img src="img/partners/colour_rgb__nospace_vertical_500px_transparent.png" alt="1" class="img-responsive" />
            </div>
            <div class="flex-item">
              <img src="1200px-Ipsos_logo.svg.png" alt="2" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
          <h2>Venues:</h2>
        </div>      
        <div class="col-lg-9">
          <div class="flex-container">
            <div class="flex-item">
              <img src="img/partners/rebel-com-colour.png" alt="2" class="img-responsive" />
            </div>
            <div class="flex-item">
              <img src="img/partners/RED-Ottawa-Up-and-Running-DG.png" alt="2" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
          <h2>Community:</h2>
        </div>      
        <div class="col-lg-9">
          <div class="flex-container">
            <div class="flex-item">
              <img src="img/partners/t4g-logo-colour.png" alt="1" class="img-responsive" />
            </div>
        </div>
    </div>    
  </div>
</section>
