<!-- Partners Section -->

<section id="partners" >
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <div class="flex-container">
            <div class="flex-item">
              <img src="img/partners/colour_rgb__nospace_vertical_500px_transparent.png" alt="1" class="img-responsive" />
            </div>
            <div class="flex-item">
              <img src="img/partners/rebel-com-colour.png" alt="2" class="img-responsive" />
            </div>

        </div>
    </div>
</section>
