<!-- Projects Section -->

<section id="projects">
  <div class="content-section-b">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Projects</h2>
                  <div class="lead">{% include projects_intro.html %}</div>
                  <div>{% include projects_list.html %}</div>
              </div>
              <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive img-rounded" src="img/projects-intro.jpg" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
</section>
